# Instagram Graph API
INSTAGRAM_CLIENT_ID=
INSTAGRAM_CLIENT_SECRET=
INSTAGRAM_API_VERSION=
INSTAGRAM_GRAPH_HOST=
INSTAGRAM_VERIFY_TOKEN=

# PostgreSQL
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# TikTok Open API
TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=
TIKTOK_BASE_URL=https://open.tiktokapis.com/v2

# YouTube Data API v3 (OAuth2)
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_TOKEN_URI=https://oauth2.googleapis.com/token

# Kafka
KAFKA_BOOTSTRAP_SERVERS=
KAFKA_INSTAGRAM_TOPIC=
KAFKA_YOUTUBE_TOPIC=
KAFKA_TIKTOK_TOPIC=
